* {
    margin: 0;
    padding: 0;
}
html{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    height: 100%;
    font-weight: 500;
    
}
.laoke{
    width:150px;
    height: 60%;
    text-align: center;
    font-family:youyuan;
    font-size:25px;
    position: relative;
    padding:20px 0 0 0;
    left:-20px;
}
.container {
    height: 15%;
    width: 800px;
    margin: 50px auto 0 auto;
}
.parent {
    position: relative;
}
.btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("./csstu/sousuo.png") no-repeat -0px -0px;
    top: 6px;
    left: 575px;
    border: none;
    outline: none;
    cursor: pointer;
}
.search {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
    margin: 0px 300px;
}
.d1{
    background-color: #d4861d;
    width:100%;
    height: 6%;
    position:relative;
}
.d1 img{
    position: absolute
    width:3%;
    height:100%;
    float:left;
}
.d2{
    position:relative;        
    width: 100%;
    height: 8%;
    border-bottom: 8px solid antiquewhite;
}
.d3{
    position:relative; 
    background-color: antiquewhite;
    width: 100%;
    height: 8px;
}
.d4{
    height:100%;
    width:100%;
    padding:0;
    position:absolute;
}
.dz4{
    position:absolute;
    left: 100px;
    right: 100px;
    height: 100%;
    display: inline;
    
}
.dz4 img{
    height: 150px;
    width:150px;
    position: relative;
    padding:25px
    
}
.p1{
    position:relative;
    width:200px;
    text-align: center;
    top:-20px;
    
}
.dzz4{
    position:relative;
    width:100%;
    height:200px;
    background-color: #e6d29b;
    
    margin:20px 0;
        }
.dzz4 img{
    height: 150px;
    width:150px;
    position: relative;
    padding:25px
    
}
.dz44{
    position: relative;
    background-color: #c1c7c7;
    height:45px;
    font-family:youyuan;
}

.dz44 p{
    font-size:25px;
    padding:10px 0;
}
.d5{
    height:100%;
    width:100%;
    margin:0 0 40px 0;
    padding:;
    position:relative;
}
.dz5{
    
    border-width: 0px 5px;
    border-color: antiquewhite;
    position:absolute;
    left: 100px;
    right: 100px;
    height: 100%;
    display: inline;
    
}
.dzz5{
    position:relative;
    width:100%;
    height:200px;
    background-color: #e6d29b;
    margin:20px 0;
    
        }
.dzz5 img{
    height: 150px;
    width:150px;
    position: relative;
    padding:25px
    
}
.dzz5 h1{
    position: relative;
    width:70%;
    top:-180px;
    left:200px;
    font-size: 20px;
        }
.dzz5 p{
    position:relative;
    width:70%;
    top:-160px;
    left:200px;
    font-size: 12px;
        }
.dzzo5{
    position:relative;
    width:100%;
    height:200px;
    
    padding: 0px;
        }
.dzzo5 img{
    height: 150px;
    width:150px;
    position: relative;
    padding:25px
    
}
.dzzo5 p{
    position:relative;
    width:70%;
    top:-160px;
    left:200px;
    font-size: 12px;
        }
.dzzo5 h1{
    position: relative;
    width:70%;
    top:-180px;
    left:200px;
    font-size: 20px;
        }
.dnz5{
    position:relative;
    width:100%;
    height:200px;
        }
.dnz5 img{
    height: 150px;
    width:150px;
    position: relative;
    padding:25px
    
}
.dnz5 h1{
    position: relative;
    width:70%;
    top:-180px;
    left:200px;
    font-size: 20px;
        }
.dnz5 p{
    position:relative;
    width:70%;
    top:-160px;
    left:200px;
    font-size: 12px;
        }
.dn5{
    position:relative;
    width:100%;
    height:200px;
    background-color: #f7f7f7;
    border-top: 2px dashed #7b7977;
    margin:0px;
        }
.dn5 h1{
    position: relative;
    width:70%;
    font-size: 20px;
        }
.dn5 p{
    position:relative;
    width:70%;
    font-size: 12px;
        }
.dzzoo5{
    position: absolute;
    right: 20px;
    top:120px;
    width:60px;
    text-align: center;
    background-color: antiquewhite;
    border:2px solid antiquewhite;
        }
.dzzooo5{
    position: absolute;
    right: 20px;
    top:160px;
    width:60px;
    text-align: center;
    background-color: antiquewhite;
    border:2px solid antiquewhite;
        }
.doz5{
    position:relative;
    background-color: #c6cbcb;
    height: 40px;
    border-bottom:2px solid #aaa6a6;
    padding:10px 0px;
        }
.doz5 p{
    position:relative;
    height: 20px;
    padding:10px 0px;
        }
.dzzz5{
    position:relative;
    width:70%;
    top:-120px;
    left:250px;
    font-size: 15px;
        }
.dzz5a{
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
        }
.dzzz6{
    position:relative;
    width:70%;
    top:-120px;
    left:180px;
    font-size: 15px;
    
        }
.dzzz6  span{
          padding: 0  20px;  
        }
.dzzz7{
    position:absolute;
    width:20%;
    bottom:40px;
    right:0px;
    font-size: 15px;
    }

.fanye{
    display: inline-block;
    cursor: pointer;
    line-height: normal;
    text-decoration: none;
    padding: 5px 9px;
    font-size: 12px;
    background: #fff;
    color: #666;
    border: 1px solid #e6e6e6;
        }
.fanye1{
    background: #fff;
    color: #3e89fa;
    border: 1px solid transparent;
        }
 a:visited {
    text-decoration: none;
}
ul{
    list-style-type: none; /*移除默认设置*/
    margin: 0;
    padding: 0;
    background-color: #de8e22;
}
li{
    float: left;/*使用 float 使块元素滑动为彼此相邻*/
            
}
li a{
    display: block;/*将链接显示为块元素可以使整个链接区域都可单击（不仅是文本），而且允许我们指定填充*/
    text-align: center;/*文本居中*/
    text-decoration: none;/*去除下划线*/
    padding: 10px 10px;
    border-radius: 15px;
    margin:15px 15px;
    font-size: 18px;
    font-family: Youyuan;
}
.a1{
    border: 5px dotted black;  
}
.*{
    margin:0;
    padding:0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  color: black;
  padding:10px 0px 10px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin:0;
 position: relative;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dz4r,.dz4l{
    width: 100px;
    display: inline;
    height: 150%;
}
.dz4l{
    float: left;
    border-right: 5px solid antiquewhite;
}
.dz4r{
    float: right;
    border-left: 5px solid antiquewhite;
}